pkgbase = ridibooks
	pkgdesc = Ridibooks desktop reader
	pkgver = 0.11.6
	pkgrel = 1
	url = https://ridibooks.com
	arch = x86_64
	makedepends = sed
	makedepends = 7zip
	makedepends = curl
	makedepends = grep
	makedepends = node
	makedepends = npm

pkgname = ridibooks